<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="text" class="text" name="filename">
        <input type="file" class="file" name="img">
        <button class="sub">Submit</button>
    </form>
</body>

</html>